
/*原色*/
.nokia-bgc-01{background-color:#7A3B3F!important;}/*sienna*/
.nokia-bgc-02{background-color:#A10025!important;}/*crimson*/
.nokia-bgc-03{background-color:#D80073!important;}/*magenta*/
.nokia-bgc-04{background-color:#E51300!important;}/*red*/
.nokia-bgc-05{background-color:#F472D0!important;}/*pink*/


.nokia-bgc-06{background-color:#FA6800!important;}/*orange*/
.nokia-bgc-07{background-color:#F0A30A!important;}/*amber*/
.nokia-bgc-08{background-color:#D8C100!important;}/*yellow*/
.nokia-bgc-09{background-color:#81592B!important;}/*brown*/


.nokia-bgc-10{background-color:#008A00!important;}/*emerald*/
.nokia-bgc-11{background-color:#5FA817!important;}/*green*/
.nokia-bgc-12{background-color:#6C8764!important;}/*olive*/
.nokia-bgc-13{background-color:#A4C400!important;}/*lime*/


.nokia-bgc-14{background-color:#6900FE!important;}/*indigo*/
.nokia-bgc-15{background-color:#0050EE!important;}/*cobalt*/
.nokia-bgc-16{background-color:#1BA1E2!important;}/*cyan*/
.nokia-bgc-17{background-color:#00AAA8!important;}/*teal*/


.nokia-bgc-18{background-color:#AA00FE!important;}/*violet*/
.nokia-bgc-19{background-color:#76608A!important;}/*mauve*/
.nokia-bgc-20{background-color:#637687!important;}/*steel*/


.nokia-fc-01{color:#7A3B3F!important;}/*sienna*/
.nokia-fc-02{color:#A10025!important;}/*crimson*/
.nokia-fc-03{color:#D80073!important;}/*magenta*/
.nokia-fc-04{color:#E51300!important;}/*red*/
.nokia-fc-05{color:#F472D0!important;}/*pink*/


.nokia-fc-06{color:#FA6800!important;}/*orange*/
.nokia-fc-07{color:#F0A30A!important;}/*amber*/
.nokia-fc-08{color:#D8C100!important;}/*yellow*/
.nokia-fc-09{color:#81592B!important;}/*brown*/


.nokia-fc-10{color:#008A00!important;}/*emerald*/
.nokia-fc-11{color:#5FA817!important;}/*green*/
.nokia-fc-12{color:#6C8764!important;}/*olive*/
.nokia-fc-13{color:#A4C400!important;}/*lime*/


.nokia-fc-14{color:#6900FE!important;}/*indigo*/
.nokia-fc-15{color:#0050EE!important;}/*cobalt*/
.nokia-fc-16{color:#1BA1E2!important;}/*cyan*/
.nokia-fc-17{color:#00AAA8!important;}/*teal*/


.nokia-fc-18{color:#AA00FE!important;}/*violet*/
.nokia-fc-19{color:#76608A!important;}/*mauve*/
.nokia-fc-20{color:#637687!important;}/*steel*/


/*浅淡色背景*/
.pale-bgc-01{background-color:#F6DFE1!important;}/*sienna*/
.pale-bgc-02{background-color:#FFD5DE!important;}/*crimson*/
.pale-bgc-03{background-color:#FFDBEE!important;}/*magenta*/
.pale-bgc-04{background-color:#FFE0DD!important;}/*red*/
.pale-bgc-05{background-color:#FEEDF9!important;}/*pink*/


.pale-bgc-06{background-color:#FFECDF!important;}/*orange*/
.pale-bgc-07{background-color:#FEF4E0!important;}/*amber*/
.pale-bgc-08{background-color:#FFFBDB!important;}/*yellow*/
.pale-bgc-09{background-color:#F8EBDD!important;}/*brown*/


.pale-bgc-10{background-color:#D2FFD2!important;}/*emerald*/
.pale-bgc-11{background-color:#EBFCDB!important;}/*green*/
.pale-bgc-12{background-color:#EAF5E7!important;}/*olive*/
.pale-bgc-13{background-color:#F8FED9!important;}/*lime*/


.pale-bgc-14{background-color:#EDE0FF!important;}/*indigo*/
.pale-bgc-15{background-color:#DEE9FE!important;}/*cobalt*/
.pale-bgc-16{background-color:#E2F4FC!important;}/*cyan*/
.pale-bgc-17{background-color:#D6FFFE!important;}/*teal*/

.pale-bgc-18{background-color:#F4E0FF!important;}/*violet*/
.pale-bgc-19{background-color:#EEE6F6!important;}/*mauve*/
.pale-bgc-20{background-color:#E7EEF5!important;}/*steel*/



/*浅色背景*/
.light-bgc-01{background-color:#F6DFE1!important;}/*sienna*/
.light-bgc-02{background-color:#FFD5DE!important;}/*crimson*/
.light-bgc-03{background-color:#FFDBEE!important;}/*magenta*/
.light-bgc-04{background-color:#FFE0DD!important;}/*red*/
.light-bgc-05{background-color:#FEEDF9!important;}/*pink*/


.light-bgc-06{background-color:#FFECDF!important;}/*orange*/
.light-bgc-07{background-color:#FEF4E0!important;}/*amber*/
.light-bgc-08{background-color:#FFFBDB!important;}/*yellow*/
.light-bgc-09{background-color:#F8EBDD!important;}/*brown*/


.light-bgc-10{background-color:#D2FFD2!important;}/*emerald*/
.light-bgc-11{background-color:#EBFCDB!important;}/*green*/
.light-bgc-12{background-color:#EAF5E7!important;}/*olive*/
.light-bgc-13{background-color:#F8FED9!important;}/*lime*/


.light-bgc-14{background-color:#EDE0FF!important;}/*indigo*/
.light-bgc-15{background-color:#DEE9FE!important;}/*cobalt*/
.light-bgc-16{background-color:#E2F4FC!important;}/*cyan*/
.light-bgc-17{background-color:#D6FFFE!important;}/*teal*/


.light-bgc-18{background-color:#F4E0FF!important;}/*violet*/
.light-bgc-19{background-color:#EEE6F6!important;}/*mauve*/
.light-bgc-20{background-color:#E7EEF5!important;}/*steel*/




/*淡色背景*/
.off-bgc-01{background-color:#E8DADB!important;}/*sienna*/
.off-bgc-02{background-color:#F4CAD3!important;}/*crimson*/
.off-bgc-03{background-color:#F6D2E5!important;}/*magenta*/
.off-bgc-04{background-color:#F6D7D4!important;}/*red*/
.off-bgc-05{background-color:#F9E9F4!important;}/*pink*/


.off-bgc-06{background-color:#F7E4D7!important;}/*orange*/
.off-bgc-07{background-color:#F6ECD8!important;}/*amber*/
.off-bgc-08{background-color:#F6F2D2!important;}/*yellow*/
.off-bgc-09{background-color:#EAE1D6!important;}/*brown*/


.off-bgc-10{background-color:#C6F4C6!important;}/*emerald*/
.off-bgc-11{background-color:#E2F1D3!important;}/*green*/
.off-bgc-12{background-color:#E4E8E3!important;}/*olive*/
.off-bgc-13{background-color:#EFF5CF!important;}/*lime*/


.off-bgc-14{background-color:#E5D8F7!important;}/*indigo*/
.off-bgc-15{background-color:#D6E1F7!important;}/*cobalt*/
.off-bgc-16{background-color:#DBECF4!important;}/*cyan*/
.off-bgc-17{background-color:#CBF5F4!important;}/*teal*/


.off-bgc-18{background-color:#EDD8F7!important;}/*violet*/
.off-bgc-19{background-color:#E6E3E9!important;}/*mauve*/
.off-bgc-20{background-color:#E3E6E8!important;}/*steel*/




/**/
.dark-bgc-01{background-color:#7B6466!important;}/*sienna*/
.dark-bgc-02{background-color:#854956!important;}/*crimson*/
.dark-bgc-03{background-color:#A35981!important;}/*magenta*/
.dark-bgc-04{background-color:#A76660!important;}/*red*/
.dark-bgc-05{background-color:#CDACC4!important;}/*pink*/


.dark-bgc-06{background-color:#AE886D!important;}/*orange*/
.dark-bgc-07{background-color:#AB976E!important;}/*amber*/
.dark-bgc-08{background-color:#A39C5A!important;}/*yellow*/
.dark-bgc-09{background-color:#7C6D5D!important;}/*brown*/


.dark-bgc-10{background-color:#417741!important;}/*emerald*/
.dark-bgc-11{background-color:#738D59!important;}/*green*/
.dark-bgc-12{background-color:#848C82!important;}/*olive*/
.dark-bgc-13{background-color:#8D9854!important;}/*lime*/


.dark-bgc-14{background-color:#8A6FAF!important;}/*indigo*/
.dark-bgc-15{background-color:#667DAB!important;}/*cobalt*/
.dark-bgc-16{background-color:#7597A8!important;}/*cyan*/
.dark-bgc-17{background-color:#4C8A89!important;}/*teal*/


.dark-bgc-18{background-color:#9A6FAF!important;}/*violet*/
.dark-bgc-19{background-color:#87808D!important;}/*mauve*/
.dark-bgc-20{background-color:#82878C!important;}/*steel*/


/**/
.dark-fc-01{color:#7B6466!important;}/*sienna*/
.dark-fc-02{color:#854956!important;}/*crimson*/
.dark-fc-03{color:#A35981!important;}/*magenta*/
.dark-fc-04{color:#A76660!important;}/*red*/
.dark-fc-05{color:#CDACC4!important;}/*pink*/


.dark-fc-06{color:#AE886D!important;}/*orange*/
.dark-fc-07{color:#AB976E!important;}/*amber*/
.dark-fc-08{color:#A39C5A!important;}/*yellow*/
.dark-fc-09{color:#7C6D5D!important;}/*brown*/


.dark-fc-10{color:#417741!important;}/*emerald*/
.dark-fc-11{color:#738D59!important;}/*green*/
.dark-fc-12{color:#848C82!important;}/*olive*/
.dark-fc-13{color:#8D9854!important;}/*lime*/


.dark-fc-14{color:#8A6FAF!important;}/*indigo*/
.dark-fc-15{color:#667DAB!important;}/*cobalt*/
.dark-fc-16{color:#7597A8!important;}/*cyan*/
.dark-fc-17{color:#4C8A89!important;}/*teal*/


.dark-fc-18{color:#9A6FAF!important;}/*violet*/
.dark-fc-19{color:#87808D!important;}/*mauve*/
.dark-fc-20{color:#82878C!important;}/*steel*/


/*深色*/
.deep-bgc-01{background-color:#4F4545!important;}/*sienna*/
.deep-bgc-02{background-color:#4F353B!important;}/*crimson*/
.deep-bgc-03{background-color:#694659!important;}/*magenta*/
.deep-bgc-04{background-color:#704E4A!important;}/*red*/
.deep-bgc-05{background-color:#A5809B!important;}/*pink*/


.deep-bgc-06{background-color:#7A6251!important;}/*orange*/
.deep-bgc-07{background-color:#796C53!important;}/*amber*/
.deep-bgc-08{background-color:#6A6646!important;}/*yellow*/
.deep-bgc-09{background-color:#4E4740!important;}/*brown*/


.deep-bgc-10{background-color:#2D432D!important;}/*emerald*/
.deep-bgc-11{background-color:#4E5A42!important;}/*green*/
.deep-bgc-12{background-color:#5E625C!important;}/*olive*/
.deep-bgc-13{background-color:#5B6040!important;}/*lime*/


.deep-bgc-14{background-color:#65537D!important;}/*indigo*/
.deep-bgc-15{background-color:#4E5B75!important;}/*cobalt*/
.deep-bgc-16{background-color:#566C77!important;}/*cyan*/
.deep-bgc-17{background-color:#385453!important;}/*teal*/



.deep-bgc-18{background-color:#6F537C!important;}/*violet*/
.deep-bgc-19{background-color:#5F5B62!important;}/*mauve*/
.deep-bgc-20{background-color:#5C5F62!important;}/*steel*/

/*深色*/
.deep-fc-01{color:#4F4545!important;}/*sienna*/
.deep-fc-02{color:#4F353B!important;}/*crimson*/
.deep-fc-03{color:#694659!important;}/*magenta*/
.deep-fc-04{color:#704E4A!important;}/*red*/
.deep-fc-05{color:#A5809B!important;}/*pink*/


.deep-fc-06{color:#7A6251!important;}/*orange*/
.deep-fc-07{color:#796C53!important;}/*amber*/
.deep-fc-08{color:#6A6646!important;}/*yellow*/
.deep-fc-09{color:#4E4740!important;}/*brown*/


.deep-fc-10{color:#2D432D!important;}/*emerald*/
.deep-fc-11{color:#4E5A42!important;}/*green*/
.deep-fc-12{color:#5E625C!important;}/*olive*/
.deep-fc-13{color:#5B6040!important;}/*lime*/


.deep-fc-14{color:#65537D!important;}/*indigo*/
.deep-fc-15{color:#4E5B75!important;}/*cobalt*/
.deep-fc-16{color:#566C77!important;}/*cyan*/
.deep-fc-17{color:#385453!important;}/*teal*/



.deep-fc-18{color:#6F537C!important;}/*violet*/
.deep-fc-19{color:#5F5B62!important;}/*mauve*/
.deep-fc-20{color:#5C5F62!important;}/*steel*/