*{padding:0; margin:0; font-family:
	'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'宋体','Hiragino Sans GB',sans-serif;
	}
a{text-decoration:none; color:#2E73CF}
img{border:none}
ul,ol{list-style:none; margin: 0;}
html,body{overflow-x:hidden;overflow-y:hidden;overflow:hidden;}
label{display:inline-block;}
pre { display:block;overflow:auto;white-space: pre-wrap;word-wrap: break-word;}
option[disabled]{color:#ccc;}

input[type=checkbox],input[type=radio]{display:inline-block; cursor:pointer;vertical-align:middle;}


select{font-size:12px; cursor:pointer;}
option{cursor:pointer;}










