
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icf-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icf-sousuo1:before { content: "\e600"; }
.icf-delete:before { content: "\e60d"; }
.icf-down:before { content: "\e60c"; }
.icf-shouqi:before { content: "\e607"; }
.icf-zhankai:before { content: "\e60f"; }
.icf-article:before { content: "\e60e"; }
.icf-shuaxin:before { content: "\e601"; }
.icf-search:before { content: "\e602"; }
.icf-add:before { content: "\e603"; }
.icf-setting-o:before { content: "\e604"; }
.icf-baocun:before { content: "\e610"; }
.icf-edit:before { content: "\e618"; }
.icf-jiantou:before { content: "\e605"; }
.icf-32gougou:before { content: "\e611"; }
.icf-jiantou1:before { content: "\e612"; }
.icf-list:before { content: "\e617"; }
.icf-setting:before { content: "\e606"; }
.icf-reflesh:before { content: "\e608"; }
.icf-account:before { content: "\e613"; }
.icf-xiangxia:before { content: "\e614"; }
.icf-key:before { content: "\e619"; }
.icf-xiangshang:before { content: "\e615"; }
.icf-books:before { content: "\e609"; }
.icf-books-o:before { content: "\e60a"; }
.icf-boxes:before { content: "\e616"; }
.icf-left:before { content: "\e60b"; }
